h1{
    text-align: center;
}
.dominoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.domino{
    background-color: #FFF2DD;
    border: 2px black solid;
    width:100px;
    margin: 5px;

}
.hr{
    height: 2px;
    width: 100px;
    background-color: black;
    border: none;
}
.section {
    display: flex;
    height: 100px;
    padding: 5px;
}

.section1, .section2{
    align-items: center;
    justify-content: space-evenly;
}
.section3{
    width: auto;
    flex-direction: column;
    justify-content: space-evenly;
}
.section3 .dot:nth-child(3){
    align-self: flex-end;
}
.section3 .dot:nth-child(2){
    align-self: center;
}
.section4, .section5, .section6{
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
}
.section5 .dot:nth-child(3){
    margin-left: 30px;
    margin-right: 30px;
}
.dot{
    display: flex;
    border-radius:50%;
    background-color: black;
    border: 5px black solid;
    width: 15px;
    height: 15px;
    margin: 0 3px;
}


.cube
{




}